body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

#screen {
  width: 100%;
  height: 100%;
  position: relative;
}

.circle {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation-name: fadeOut;
}


#staticRippleText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  color: white;
  text-align: center;
  cursor: pointer;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes shrinkFade {
  to {
    width: 0;
    height: 0;
    opacity: 0;
  }
}